
/*
Necessary inputs:
fastq or bam/cram
sample_id (or some sort of identifier)
output location
threads
reference (if bam/cram)
output filename

*/



manifest {
    name = 'princessmaximacenter/nextflow_pipeline/workflows/qc'
    description = "Nanopore sequencing QC pipeline"
    nextflowVersion = ">=25.04.6"
    version = params.version 

}


params {
  input = "samplesheet.csv"
  adaptive = false
  adaptive_bed = false
}


validation {
  help {
    command = "Nextflow run main.nf --input samplesheet.csv --outdir results"
    beforeText = "This pipeline runs a QC for ONT sequencing data"
    enabled = true
  }
  parametersSchema = "${projectDir}/workflows/qc/nextflow_schema.json"
  defaultIgnoreParams = [
        'pipeline',
        'publish_dir_mode',
        'version'
  ]
}
