
params {
    input = null
    outdir = null
    barcode = null
    model = null
    shutdown_file = "shutdown.flag"
    run_id = null
    lock = "script.lock"
    run_id = null
}

includeConfig "../../conf/modules/sturgeon.config"

validation {
    help {
        command = "nextflow run main.nf --input location/of/bam_files --outdir name_of_output_directory --barcode [DIGIT] --model location/of/model.zip"
        beforeText = "This pipeline runs the Sturgeon CNS classifier on Nanopore Methylation sequencing data\n"
        enabled = true
    }
    parametersSchema = "${projectDir}/workflows/sturgeon/nextflow_schema.json"
    defaultIgnoreParams = [
        'pipeline',
        'publish_dir_mode',
        'version'
    ]
}