// Global help text.
// Must be defined at the top of the config so it can be overwritten by pipeline specific help text
validation {
    help {
        command = "nextflow run princessmaximacenter/nextflow_pipeline -profile {sturgeon|qc} -params-file params.{json|yaml}"
        beforeText = "This repository can run multiple nextflow pipelines for the analysis of nanopore sequencing data\n"
        enabled = true
    }
}


// Global default params, used in configs
params {
    pipeline = null // default pipeline set to null


    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')


    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}



// Load base.config by default for all pipelines
includeConfig 'conf/base.config'


// Profiles for selecting analysis
profiles {
    sturgeon {
        params.pipeline = 'sturgeon'
        params.version = '0.1.0'
        includeConfig "${projectDir}/workflows/sturgeon/nextflow.config"
    }
    qc {
        params.pipeline = 'qc'
        params.version = '0.0.1-beta'
        includeConfig "${projectDir}/workflows/qc/nextflow.config"
    }

}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}

plugins {
    id 'nf-schema@2.5.1'
}

nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.outdir}/pipeline_info/manifest_${params.trace_report_suffix}.bco.json"
        }
    }
}

manifest {
    name = 'princessmaximacenter/nextflow_pipeline'
    contributors = [
        [
            name: "Karlijn Cammel",
            affiliation: "Princess Maxima Center",
            contribution: ['author', 'maintainer']
        ]
    ]
    description = 'Monorepository for Princess Máxima Centre developed nextflow pipelines for nanopore sequencing'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    version = '0.0.1'
}


includeConfig 'conf/modules.config'

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}