

includeConfig 'conf/sturgeon.config'


manifest {
    name = "princessmaximacenter/sturgeon_classifier"
    contributors = [
        [
            name: "Karlijn Cammel",
            affiliation: "Princess Maxima Center",
            contribution: ['author', 'maintainer']
        ]
    ]
    homePage = ""
    description = "Sturgeon Classifier for Nanopore Methylation Sequencing data"
    mainScript = "main.nf"
    defaultBranch = "main"
    nextflowVersion = ">=25.04.6"
    version = "0.1.0"
}


plugins {
    id 'nf-schema@2.5.1'
}

params {
    input = null
    outdir = null
    barcode = null
    model = "/etc/nextflow.d/config/Sturgeon_Nextflow/general.zip"
    shutdown_file = "shutdown.flag"
    run_id = null
    sturgeon_timeout = 59
    lock = "script.lock"
    run_id = null
}


validation {
    help {
        command = "Nextflow run main.nf --input location/of/bam_files --outdir name_of_output_directory --barcode [DIGIT] --model location/of/model.zip"
        beforeText = "This pipeline runs the Sturgeon CNS classifier on Nanopore Methylation sequencing data"
        enabled = true
    }
}
