
// Global default params, used in configs
params {
    pipeline = null


    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
}
// default pipeline set to null


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'


// Profiles for selecting analysis
profiles {
    sturgeon {
        params.pipeline = 'sturgeon'
        params.version = '0.1.0'
        includeConfig "${projectDir}/workflows/sturgeon/nextflow.config"
    }
    qc {
        params.pipeline = 'qc'
        params.version = '0.0.1-beta'
        includeConfig "${projectDir}/workflows/qc/nextflow.config"
    }
}





plugins {
    id 'nf-schema@2.5.1'
}


manifest {
    name = 'princessmaximacenter/nextflow_pipeline'
    contributors = [
        [
            name: "Karlijn Cammel",
            affiliation: "Princess Maxima Center",
            contribution: ['author', 'maintainer']
        ]
    ]
    description = 'Monorepository for Princess Máxima Centre developed nextflow pipelines for nanopore sequencing'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}



validation {
    help {
        command = "Nextflow run princessmaximacenter/nextflow_pipeline -profile {sturgeon,qc} -params-file {params.[json|yaml]}"
        beforeText = "This repository can run multiple nextflow pipelines for the analysis of nanopore sequencing data\n"
        enabled = true
    }
}