/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {
    publishDir = [
    path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${meta.sample_id}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null: filename }
    ]
}

process {
    withName: '.*:CRAMINO_FULL' {
        ext.prefix = { "${meta.sample_id}" }
        publishDir = [
            path: { "${params.outdir}/cramino/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CRAMINO_ADAPTIVE' {
        ext.prefix = { "${meta.sample_id}_adaptive" }
        publishDir = [
            path: { "${params.outdir}/cramino/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: '.*:NANOPLOT_FULL' {
        ext.prefix = { "${meta.sample_id}_" }
        publishDir = [
            path: { "${params.outdir}/nanoplot/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:NANOPLOT_ADAPTIVE' {
        ext.prefix = { "${meta.sample_id}_adaptive_" }
        publishDir = [
            path: { "${params.outdir}/nanoplot/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'MULTIQC' {
        ext.args = { [
            ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
        ].join(' ').trim() }
        ext.prefix = "multiqc_report"
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null: filename}
        ]
    }
}

process {
    withName: ".*BAM_SPLIT_BY_REGION:SAMTOOLS_VIEW" {
        ext.args2 = {
            [
                "${meta.genomic_region}", // Specifies the chromosome name used for splitting the input bam file.
            ].join(' ').trim()
        }

        ext.prefix = { "${meta.sample_id}_${meta.genomic_region}" }
    }
}

process {
    withName: "CALCULATE_ENRICHMENT" {
        publishDir = [
        path: { "${params.outdir}/mosdepth/${meta.sample_id}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null: filename }
        ]
    }
}