process {
    withLabel: sturgeon_classifier {
        memory = '8.GB'
        cpus =  4
        publishDir = [
            path: { "${params.outdir}" }, //params.outdir moet dan denk ik de gc bucket zijn en dan wordt output_dir de naam voor de sturgeon dir
            mode: 'copy'
        ]
    }
}